{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome 'GroceryCorner'!</h1>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->

      <div>

        <p>‘GroceryCorner’

          Spare more with ‘GroceryCorner’ !</p>
          <p>We give you the most minimal costs on the entirety of your grocery needs.</p>

            <p>‘GroceryCorner’ is a low-cost online general store that gets items crosswise over classifications like grocery, natural products and vegetables, excellence and health, family unit care, infant care, pet consideration and meats and fish conveyed to your doorstep.</p>

          <p>Browse more items at costs lower than markets each day!</p>

           <p> Calendar conveyance according to your benefit.</p>

          <p>Level 20% cashback on your first request with coupon code ‘GroceryCorner’ 20. Max cashback is Rs.250.</p>
      </div>





  </div>

</main>





{% endblock %}
